<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.samart.mybatis.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.samart.mybatis.entity.User">
        <id column="user_id" property="userId"></id>
        <result column="username" property="username"></result>
    </resultMap>

    <update id="deleteUser">
        update user
        set status = 1
        where user_id = #{userId};
    </update>

</mapper>